* {
  margin-top: 20px;
  margin-bottom: 20px;
}
body {
  background-color: rgb(5, 5, 10);
  display: flex;
  justify-content: center;
  color: white;
}
h1 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
a:visited {
  color: purple;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
}
.container p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  width: 90%;
}

button {
  background-color: #4b0082; /* Green background */
  color: white; /* White text */
  padding: 12px 24px; /* Large padding */
  font-size: 16px; /* Increased font size */
  border: none; /* Remove border */
  border-radius: 6px; /* Rounded corners */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Display as inline-block */
  cursor: pointer; /* Add cursor on hover */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow */
  transition-duration: 0.4s; /* Add animation on hover */
}

button:hover {
  background-color: #3a0f5f; /* Dark green background on hover */
}

ul {
  font-size: 35px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
li {
  font-size: 25px;
}

.split-buttons {
  width: 100%;
  max-width: 400px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.split-buttons button {
  margin: 0;
}

.container p.lost {
  margin: 0px;
  font-size: 100px;
  font-weight: bold;
  color: red;
}

.container p.won {
  margin: 0px;
  font-size: 100px;
  font-weight: bold;
  color: lime;
}

.container img {
  width: 90%;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
}

#success-buttons {
  width: 350px;
  justify-content: space-between;
  padding: none;
}
